html, body {
	margin: 0;
	overflow: hidden;
	font-family: 'Roboto', sans-serif;
}

body {
	background: #000000;
}

canvas {
	width: 100vw;
	height: 100vh;
}

.ButtonControllersContainer {
	display: flex;
	position: absolute;
	width: 13%;
	top: 2%;
	left: 2%;
	border: 1px solid green;
}

.OpenButtonsContainer {
	width: 100%;
}

.ButtonAnimation {
	width: 100%;
	height: 2vw;
	font-size: 1vw;
	font-weight: bolder;
	background-color: #b3b3cc;
	border: 2px solid green;
}

.ButtonAnimation:hover {
	background-color: #ffffff;
}

.ButtonAnimation:active {
	background-color: yellow;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

.ButtonAnimation:disabled {
	color: white;
}

#PartNumberText:hover {
	background-color: #b3b3cc; 
}

.RightControllersContainer {
	position: absolute;
	width: 20%;
	height: 20%;
	top: 2%;
	right: 2%;
}

.RCC-SideBySideContainer {
	display: flex;
	width: 100%;
	height: 80%;
	background-color: #b3b3cc;
	border: 2px solid green;
	border-bottom: 0px;
	padding-bottom: 3%;
}

.SlidersContainer {
	width: 60%;
	display: flex;
	flex-direction: column;
	height: 100%;
	padding-left: 3%;
}

.SlidersTextContainer {
	font-weight: bolder;
	width: 40%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.GlobalButtonsContainer {
	margin: 0;
	padding: 0;
	width: 100%;
	border: 2px solid green;
	border-top: 1px solid green;
}

.SliderText {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	/*border: 1px solid green;*/
}

.Slider {
/*	-webkit-appearance:none;
	appearance:none;*/
	width: 100%;
	height: 100%;
	background: transparent;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
	margin: 0;
	/*border: 1px solid green;*/
}

.Slider:hover {
	opacity: 1;
}

/*.Slider:-webkit-slider-thumb {
	-webkit-appearance:none;
	appearance:none;
	width: 25px;
	height: 25px;
	background: red;
	cursor: pointer;
}*/

/*.Slider:-moz-range-thumb {
	-webkit-appearance:none;
	appearance:none;
	width: 25px;
	height: 25px;
	background: red;
	cursor: pointer;
}*/
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  /*margin: 7.5px 0;*/
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #437fc0;
  border-radius: 0px;
  border: 1px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1.3px 1.3px 1px #000000, 0px 0px 1.3px #0d0d0d;
  border: 2px solid #000000;
  height: 25px;
  width: 31px;
  border-radius: 23px;
  background: #ff0000;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #437fc0;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #437fc0;
  border-radius: 0px;
  border: 1px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1.3px 1.3px 1px #000000, 0px 0px 1.3px #0d0d0d;
  border: 2px solid #000000;
  height: 25px;
  width: 31px;
  border-radius: 23px;
  background: #ff0000;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #437fc0;
  border: 1px solid #010101;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #437fc0;
  border: 1px solid #010101;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1.3px 1.3px 1px #000000, 0px 0px 1.3px #0d0d0d;
  border: 2px solid #000000;
  height: 25px;
  width: 31px;
  border-radius: 23px;
  background: #ff0000;
  cursor: pointer;
  height: 10px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #437fc0;
}
input[type=range]:focus::-ms-fill-upper {
  background: #437fc0;
}